/* .regitration-link{
    position: relative;
    right:-22em;
    
    
} */
.fa-regular {
    position: relative;
    right: -21.5em;
    color: #000;
    font-size: 20px;
}
category.name{
font-weight: bold;
}