.footer {
    background-color: #b7cbe2;
    color: #0b0b0b;
    padding: 30px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 1rem;
  }
  
  .social-icons {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #0b0b0b;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .social-icons a:hover {
    color: #086288; 
  }

  .copyright{
    border: solid #0b0b0b 1px;
    padding: 10px;
    border-radius: 10px;
    }
  